<%- model_class = Curso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='team'>
 
  <p>nombres:<%= @curso.nombre %></p>
  <p>ficha: <%= @curso.ficha %></p>
  
  
</div>
