<%- model_class = Materia -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='team'>
  <p>id: <%= @materia.id %></p>
  <p>nombre: <%= @materia.nombre %></p>
  <p>sigla: <%= @materia.sigla %></p>

    

</div>