
    
<div class="hero-unit">
<center>
	<br>
	<br>
  <h1>BIENVENIDOS</h1>
 </center>
</div>
    <center>
    <h2>Hecho Por: Claudia Maryory Giraldo Arango</h2>
   </center>
   <br>
   <br>
   <br>

<center>
   <%= link_to image_tag('images.jpg')%>

</center>

